<h3>
  任务管理发布中，敬请期待！
</h3>
<!--<button (click)="fc.viewModal.show()">导入配置</button>-->
<!--&lt;!&ndash;<button class="btn btn-sm btn-info" (click)="applyToOther.openModel()">open the model</button>&ndash;&gt;-->
<!--&lt;!&ndash;<app-table-panel></app-table-panel>&ndash;&gt;-->
<!--&lt;!&ndash;<app-column-panel></app-column-panel>&ndash;&gt;-->
<!--&lt;!&ndash;<app-apply-to-other #applyToOther></app-apply-to-other>&ndash;&gt;-->
<!--<app-import-conf #fc></app-import-conf>-->
<!--<app-match-count ></app-match-count>-->
<!--<app-match-detail></app-match-detail>-->
<!--<progressbar #pp [max]="process.max" [value]="process.dynamic">-->
  <!--<span style="color:white; white-space:nowrap;">{{process.dynamic}} / {{process.max}}</span>-->
<!--</progressbar>-->
<!--<button type="button" (click)="showAsyncProcess()">show process</button>-->
